* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
  margin: 0px;
}
main {
  max-width: 800px;
  width: 90%;
  margin: auto;
  padding: 40px;
}

/*------ Nav-bar section----------- */

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(115, 169, 66);
  width: 100%;
  color: white;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 0px 5px 0px #696f7c;
}
.nav_options {
  height: 45px;
  width: 80%;
}
nav ul {
  display: flex;
  margin: 0px;
  height: 100%;
  align-content: center;
}
nav li {
  list-style: none;
  width: 40%;
  height: 100%;
  border-right: 1px solid #245501;
  border-left: 1px solid #245501;
  text-align: center;
}
nav li a {
  text-decoration: none;
  color: white;
  height: inherit;
  display: inline-block;
  width: 100%;
  padding: 2%;
}
nav li:hover {
  background-color: #538d22;
  font-size: 17px;
}

.logo_image {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.logo_image img {
  height: 40px;
  width: 40px;
  margin: 2%;
}
.logo_image h1 {
  margin: 2%;
}
/* ------------formulario------- */
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form__label {
  display: block;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}

.form__group-input {
  position: relative;
}

.form__input {
  width: 100%;
  background: #fff;
  border: 3px solid transparent;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: 0.3s ease all;
}
.form__input:focus {
  border: 3px solid #0890cf;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}
.form__input-error {
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}
.form__input-error-active {
  display: block;
}
.form__validation-state {
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}
.form__message,
.form__group-btn-submit {
  grid-column: span 2;
}

.form__message {
  height: 45px;
  line-height: 45px;
  background: #ce291d;
  padding: 0 15px;
  border-radius: 3px;
  display: none;
}
.form__message p {
  margin: 0px;
}
.form__message-active {
  display: block;
}
.form__group-btn-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__btn {
  height: 45px;
  width: 30%;
  line-height: 45px;
  background: #538d22;
  color: #fff;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: 0.1s ease all;
}

.form__btn:hover {
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}
.form__message-success {
  font-size: 14px;
  color: #538d22;
  display: none;
}
.form__message-success-active {
  display: block;
}
/* --------------validacion-------- */
.form__group-correct .form__validation-state {
  color: #6ceb12;
  opacity: 1;
}

.form__group-incorrect .form__label {
  color: #d8170a;
}
.form__group-incorrect .form__validation-state {
  color: #d8170a;
  opacity: 1;
}
.form__group-incorrect .form__input {
  border: 3px solid #d8170a;
}
/* ------------------calculadora-------------------- */
.calculator {
  display: flex;
  justify-content: center;
  padding: auto;
}
.calculator_group {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  height: 500px;
  width: 350px;
  gap: 10px;
  border: 3px solid #1a4301;
  border-radius: 20px;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}
[class*="row"] {
  display: flex;
  justify-content: center;
}
.btn_calculator {
  height: 70px;
  width: 70px;
  margin: 0px 5px;
  font-size: large;
  font-weight: 500;
}
.calculator_screen {
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
}
.screen {
  height: 80%;
  width: 80%;
  display: block;
  text-align: center;
  font-size: 30px;
  margin: auto;
  /* line-height: 50%; */
  background-color: rgba(114, 111, 111, 0.384);
  overflow-y: scroll;
}

/* ----------mediaqueries--------- */
@media screen and (max-width: 800px) {
  .form {
    grid-template-columns: 1fr;
  }
  .form__message,
  .form__group-btn-submit {
    grid-column: 1;
  }
  .form__btn {
    width: 100%;
  }
}
/* ----------------footer------------- */
footer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  background-color: #1a4301;
  padding: 10px;
  color: white;
}

.contact a {
  color: white;
}
